# Auto detect text files and perform LF normalization
* text=auto
Mis series favoritas :raised_eyebrow:
-**La casa de papel** :face_in_clouds:


-**Control Z** :sleeping:


-**Yugui - OH** :face_with_spiral_eyes:
Una serie de las antiguas pero siempre teniendo un toque de lo clasico

-**La casa de las Flores** :see_no_evil:
Serie la considero un poco madura y que pasan problemas que en la vida de los adultos es normal pero en la de un joven no lo es

-**LUPIN** :zipper_mouth_face:
La mejor serie para mi habla sobre como actuaba lupin y que no todo es armas y fuerza, sino estrategia







